.compat-attachment-fields {
  width: 100%;

  td, th {
    vertical-align: top;
    text-align: left;
  }
}

.compat-field-rokka_hash {
  input {
    width: 100%;
  }
}


.subjectarea-wrap {
  position: relative;
  img {
    max-width: 400px;
    max-height: 400px;
  }
}
.subjectarea-sel {
  input[type="text"] {
    width: 70px;
  }
}

// Hide edit attachment button since this is not yet supported
.wp-core-ui .button.edit-attachment,
.wp_attachment_image p .button {
  display: none;
}
