.compat-attachment-fields {
  width: 100%;

  td, th {
    vertical-align: top;
    text-align: left;
  }
}

.compat-field-rokka_hash {
  input {
    width: 100%;
  }
}


.subjectarea-wrap {
  position: relative;
  img {
    max-width: 400px;
    max-height: 400px;
  }
}
.subjectarea-sel {
  input[type="text"] {
    width: 70px;
  }
}

// Hide subject area in modal view
.media-modal-content .compat-field-rokka_subject_area {
  display: none;
}

// Hide edit attachment button since this is not yet supported
.wp-core-ui .button.edit-attachment,
.wp_attachment_image p .button {
  display: none;
}

/* Settings page */
#rokka-image-cdn_settings {
  overflow: hidden;

  h1 {
    margin-bottom: 15px;
  }
}

// Columns
#column-left {
  width: 70%;
  max-width: 800px;
  float: left;
}
#column-right {
  width: 29%;
  max-width: 260px;
  float: right;
  border: 0px solid #ccc;
  text-align: center;
}
.column-right-wrap {
  padding: 0 20px 20px 20px;
}

// Tab navigation
.nav-tabs-wrap {
  border-bottom: 1px solid #ccc;
}
.nav-tab {
  display: inline-block;
  float: none;
}
.nav-tab.active {
  margin-bottom: -1px;
  border-bottom: 1px solid #f1f1f1;
  background: #f1f1f1;
  color: #000;
}

// Tab content
.tab {
  display: none;
  &.active {
    display: block;
  }
}
.tab-content {
  padding: 20px;
}
#api_key, #company_name, #api_secret {
  width: 100%;
}
label .description {
  display: block;
  padding: 6px 0 0 6px;
}
#rokka_enabled + label .description {
  display: inline-block;
}
.form-table th {
  text-align: right;
}

button#create-rokka-stacks,
button#mass-upload-everything {
  margin-bottom: 15px;
}
#progress-info-stacks {
  .loading-indicator {
    img, span {
      vertical-align: middle;
    }
  }
}
#upload-progressbar {
  margin-bottom: 10px;
  .ui-progressbar-value {
    background-color: #00a0d2;
  }
}
#upload-progress-log-wrapper {
  display: none;

  label {
    display: block;
    margin-bottom: 5px;
  }
}
#upload-progress-log {
  width: 100%;
  height: 300px;
  padding: 10px;
  font-family: monospace;
}

// Right column (Banner)
#logo-rokka svg {
  height: auto;
  width: 100%;
  margin: 0 0 40px 0;
}
.banner {
  width: auto;
  margin: 0 0 20px 0;
  padding: 20px 0 20px 0;
}
#banner-website {
  height: 60px;
  color: #fff;
  background-image: linear-gradient(14deg, #A4C339 0%, #6EA644 58%);
}
#banner-liip {
  background: #ccc;
}

// Mobile view
@media only screen and (max-width: 782px) {
  #column-left {
    width: 100%;
    float: none;
  }
  #column-right {
    width: 100%;
    float: none;
  }
  .form-table th {
    text-align: left;
  }
}
