.compat-attachment-fields {
  width: 100%;

  td, th {
    vertical-align: top;
    text-align: left;
  }
}

.compat-field-rokka_hash {
  input {
    width: 100%;
  }
}

.subjectarea-wrap {
  position: relative;
  img {
    max-width: 400px;
    max-height: 400px;
  }
}
.subjectarea-sel {
  input[type="text"] {
    width: 70px;
  }
}

// Hide subject area in modal view
.media-modal-content .compat-field-rokka_subject_area {
  display: none;
}

// Hide edit attachment button since this is not yet supported
.wp-core-ui .button.edit-attachment,
.wp_attachment_image p .button {
  display: none;
}

.column-rokka,
#rokka-image-cdn_settings {
  .button.delete {
    color: #fff;
    border-color: #980617;
    background: #c10a22;
    -webkit-box-shadow: 0 1px 0 #980617;
    box-shadow: 0 1px 0 #980617;
  }

  .button .dashicons {
    line-height: inherit;
  }
}

/* Settings page */
#rokka-image-cdn_settings {
  overflow: hidden;

  h1 {
    margin-bottom: 15px;
  }

  // Columns
  #column-left {
    width: 70%;
    max-width: 800px;
    float: left;
  }
  #column-right {
    width: 29%;
    max-width: 260px;
    float: right;
    text-align: center;
  }
  .column-right-wrap {
    padding: 0 20px 20px 20px;
  }

  // Tab navigation
  .nav-tabs-wrap {
    border-bottom: 1px solid #ccc;
  }
  .nav-tab {
    display: inline-block;
    float: none;
  }
  .nav-tab.active {
    margin-bottom: -1px;
    border-bottom: 1px solid #f1f1f1;
    background: #f1f1f1;
    color: #000;
  }

  // Tab content
  .tab-content {
    padding: 20px;
  }
  #api_key, #company_name, #api_secret {
    width: 100%;
  }
  label .description {
    display: block;
    padding: 6px 0 0 6px;
  }
  #rokka_enabled + label .description {
    display: inline-block;
  }
  .form-table th {
    text-align: right;
  }

  button#check-rokka-credentials,
  button#sync-rokka-stacks,
  button#mass-upload-everything,
  button#mass-delete-everything {
    margin-bottom: 15px;
  }
  #progress-info-stacks {
    .loading-indicator {
      img, span {
        vertical-align: middle;
      }
    }
  }
  table.stack-sync {
    width: 100%;
    margin-bottom: 15px;

    th {
      text-align: left;

      &.width,
      &.height,
      &.crop {
        width: 50px;
      }
      &.status {
        width: 200px;
      }
    }
    tr {
      &.create {
        color: #09940c;
      }
      &.update {
        color: #225cc2;
      }
      &.delete {
        color: #c20b3f;
      }
    }
  }
  #upload-progressbar,
  #delete-progressbar {
    margin-bottom: 10px;
    .ui-progressbar-value {
      background-color: #00a0d2;
    }
  }
  #upload-progress-log-wrapper,
  #delete-progress-log-wrapper {
    display: none;

    label {
      display: block;
      margin-bottom: 5px;
    }
  }
  #upload-progress-log,
  #delete-progress-log {
    width: 100%;
    height: 300px;
    padding: 10px;
    font-family: monospace;
  }

  ul.image-list {
    list-style: initial;
    padding-left: 40px;
    max-height: 200px;
    overflow-y: auto;
  }

  // Right column (Banner)
  .logo {
    height: auto;
    width: 100%;
    margin-bottom: 40px;
  }
  #logo-liip {
    img {
      max-width: 150px;
      height: auto;
    }
  }
  #address-block {
    background-color:#A4C339;
    width: auto;
    padding: 20px 0;
    color: #ffffff;

    .company {
      font-weight: bold;
    }
  }

  // Mobile view
  @media only screen and (max-width: 782px) {
    #column-left {
      width: 100%;
      float: none;
    }
    #column-right {
      width: 100%;
      float: none;
    }
    .form-table th {
      text-align: left;
    }
  }
}
