.compat-field-rokka_hash {
  label {
    float: right;
  }
  .label span {
    width: auto;
    display: inline-block;
  }
}


.subjectarea-wrap {
  position: relative;
  img {
    max-width: 400px;
    max-height: 400px;
  }
}
